*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

/* nav-bar styles */
.navbar{
    height:60px;
    background-color:rgb(44, 44, 44);
    color:black;
    display: flex;
    align-items: center;
}

 /* first part of navbar */
.nav-logo{
    margin-left: 50px;
    height:55px;
    width:100px;
}
a:hover{
    font-weight: bold;
}

/* second part of navbar */
.nav-search {
    margin-left: 50px;
    display:flex;
    height:40px;
    border-radius: 4px;
    border: 2px solid transparent;
}
.nav-search:hover{
    border:2px solid orange;
}
.search-input{
     width:620px;
     font-size: 1rem;;
     border: none;
}
.search-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    font-size: 1.3rem;
    background-color:rgb(255, 212, 131);
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    color: #0f1111;
}
.bar{
    padding-left: 35%;
}


/* styles for second line of header */
.panel{ 
    height:50px;
    background-color:rgb(197, 191, 191);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.panel a{
    color:black;
}


/* styles for body section */
.body-section{
    background-image: url(https://wallpapercave.com/wp/wp2502948.jpg);
    height: 400px; 
    background-size:cover;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}
 .logos-slide{
    
    animation: 50s slide infinite linear;
    display: flex;
    justify-content: space-between;
    }

/* shop-section */
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color:lightgoldenrodyellow ;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
   }
.box{
    height:300px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top:15px;    
}
.box-image{
    height:250px;
    background-size:contain;
    background-repeat: no-repeat;
}
.box-content{
    margin-left:10px;
    margin-right:10px;
}
 .box-content a{
    color:#007185;
 }
.foot-panel1{
    height:180px;
    background-color: rgb(114, 114, 114);
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    padding:15px;
}
ul a{
    display:flex;
    margin-top:10px;
    font-size: 1rem;
}
.last-panel{
    height:40px;
    background-color: rgb(44, 44, 44);
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}

 /* About Us Page */
 .about-us{
    padding:40px;
    background-color:rgb(211, 211, 211);
    background-image: url('back4.jpg');
 }
 .box-au{
    padding:10px;
    display:flex;
    margin:50px;

    border: 2.5px solid black;
    color:black;
} 
.box-au img{
    border-radius:50%;
    height:250px;
    /* border:2px solid black; */
}

.info{
    margin-left: 40px;
}

.info p{
    margin-bottom:20px;
}



/* feedback and contacts */
.feedback-contact{
    margin-left: 50px;
    display: flex;
}
.contact{
    height: 400px;
    width:50%;
    background-color:#2d3436;
    padding:10px;
} 
.contact h1{
    font-size: 60px;
    font-family: serif;
    color:white;
    padding:100px;
    padding-bottom: 0px;
    text-align: center; 
} 
.contact p{
    text-align: center;
    color:white;
    margin-top:15px;
}
form{
    margin-left:70px;
    display: grid;
}
.footer {
    background-color: black;
    color: rgb(184, 174, 174);
    display: flex;
    flex-direction: column;
    line-height: 25px;


    /* font-size: 1em; */
    & p {
        font-size: 15px;
        text-align: center;
        padding-block: 20px;
    }

    & hr {
        height: 2;
        width: 95vw;
        margin-left: 2vw;
    }

    & img {
        clip-path: circle();
        width: 100px;
        height: auto;
    }

    & .footer-container {
        display: flex;
        justify-content: space-around;
        padding: 50px 0px;

        & ul li {
            list-style-type: none;
        }

        & h3 {
            color: white;
            margin-bottom: 20px;
        }

    }

}
